/* Estilos do SITE */

@font-face {
    font-family: 'MorandiRegular';
    src: url('Morandi\Regular.otf') format('opentype')
}


body {
    background-color: #232024;
    margin: 0px;

@media screen and (max-width: 576px) {
    .gridConteudodoSite{
        max-width: 100%;
        max-height: 100%;
        grid-template-columns: 0.8fr; /* Uma coluna em telas menores */
        grid-template-areas:
            "Intro"
            "Links"
            "News"
            "Calend"
            "SliderBanner";
    }    
    .retText{
        width: 100%;
        height: 20vh;
        max-height: 100%;
    }
    .retLinks{
        width: 100% !important;
    }
    .w-100{
        font-size: 3vw;
    }
    .h-100{
        font-size: 4vw;
    }
    .textinhos{
        font-size: 2.8vw;
    }
    .grid-Do-Site{
        margin: 0%;
        padding: 0%;
    }
    .espaço-Grid{
        margin-left: 10%;
        margin-right: 10%;
    }
    .menuNews{
        width: 100%;
        height: 93%;
    }
    .menuBanners{
        width: 100%;
    }
    .menuCalend{
        width: 100% !important;
    }
    
    .cartasNovas{
        height: 18vh !important;
        max-width: 80%;
    }
    .UPD{
        margin-top: 48% !important;
        margin-left: 30% !important;
        
    }
    .UPDNEW{
        margin-top: 48% !important;
        margin-left: 30% !important;
    }
    .textoLinks{
        width: 60vw;
        align-items: center;
    }
    .colunaLinks{
        align-items: center;
    }
   .fonte576px {
        font-size:1.5vh;
    }
    }
}


.espaço-Grid{
    margin-left: 6.25vw;
    margin-right: 6.25vw;
    padding-right: 0.75vw;
    padding-left: 0.75vw;

}

.site-Content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.grid-Do-Site{
    margin-left: 7.813vw; 
    margin-right: 7.813vw; 
    padding-left: 0.75vw; 
    padding-right: 0.75vw;
    justify-content: center;
    align-items: center;

}


.gridConteudodoSite{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.11fr;
    grid-template-rows: auto;
    height: 100%;
    grid-gap: 15px;
    grid-auto-flow: row;
    grid-template-areas:
    "Intro Intro Intro Links"
    "News News News Calend"
    "News News News ."
    "SliderBanner SliderBanner SliderBanner ."
    "SliderBanner SliderBanner SliderBanner .";
    max-height: 100%;
    max-width: 100%;

    @media screen and (max-width:1400px) {
        .gridConteudodoSite{
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr ;
        max-width: 100%;
        }
        .retLinks{
            width: 17vw;
            max-width: 100%;
        }
        .menuCalend{
            width: 17vw;
        }
    }

}

.menuCalend{
    grid-area: Calend;
    background-color:#2d282f;
    height: 97vh;
    width: 73%;
}

.colunaCalend{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    width: 15vw;
}
.containerCalend{
    display: flex;
    flex-direction: column;
    background-color:#423745;
    height: 30vh;
    margin-top: 5%;
    margin-right: 5%;
    border-radius: 15px;
    
}
body.home .calendText{
    color: #ffffff;
    margin-left: 9%;
    margin-top: 6%;
    font-family: 'MorandiRegular', sans-serif;
    margin-right: 9%;
    overflow-y: auto;

}

body.home .h5calend{
    margin-left: 9%;
    border-bottom: 2px solid #dab2f9;
    font-family: 'MorandiRegular', sans-serif;
    width: 75%;
    font-weight: bolder;
    font-size:1vw;
}

.menuNews{
    grid-area: News;
    background-color:#2d282f;
    height: 100vh;
}

body.home .UPD{
    color:#ffdb70;
    background-color:#232024;
    border-radius: 10px;
    margin-top: 22%;
    margin-left: 70%;
    margin-right: 5%;
    margin-bottom: 10%;
    font-weight: bolder;
    text-align: center;
}

body.home .UPDNEW{
    color:#ff6060;
    background-color:#232024;
    border-radius: 10px;
    margin-top: 22%;
    margin-left: 70%;
    margin-right: 5%;
    margin-bottom: 10%;
    font-weight: bolder;
    text-align: center;
}


.retLinks{
    grid-area: Links;
    background-color:#2d282f;
    max-width: 100%;
    width: 73%;
}

.retText{
    grid-area: Intro;
    background-color:#2d282f;
}    

.menuBanners{
    grid-area: SliderBanner;
    background-color:#2d282f;
    height: 80vh;
}

.colunaNews{
    display: flex!important;
    flex-direction: column!important;
    
}

.menuHeader{
    display:flex;
    width: 100%;
    height: 5.4vh;
    background-color:#2d282f;
    padding: 0px;
    margin: 0px;
    border: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column
    
}
title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


h1 {
    font-family: 'MorandiRegular', sans-serif;
    font-size: 2.35vw;
    font-weight: lighter;
}

h3 {
    color:#ffffff;
    font-family: 'MorandiRegular', sans-serif;
    font-size: 1.55vw;
    text-transform: none;
    font-weight: lighter;
    letter-spacing: -1px;
}

.iconepequenomenu{
    width: 80px;
    height: 80px;
    margin-right: 15px;
    position: absolute;
    top: -6px;
    left: 275px;
}


.textinhos{
    font-family: 'MorandiRegular', sans-serif;
    color: #ffffff;
    font-weight: lighter;
    font-size:20px;
}

.textosdelinks{
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
    border: 2px solid transparent;
    background-color: #423745;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.w-100{
    width:inherit;
}

.h-100{
    
}

.py-4{
    padding-top: 2.65vh;
    padding-bottom: 2.67vh;
}

body.home h1, body.home h2, body.home h3, body.home h4{
    color: #FFF;
    display: table;
    border-bottom: 2px solid #dab2f9;
    font-family: 'MorandiRegular', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

body.home .gridConteudodoSite>div{
    border-radius: 15px;
    padding: 25px;
}

body.home .cartasNovas{
    background: #423745;
    margin-top: 1.5rem!important;
    border-radius: 15px;
    height: 20vh;
    max-width: 100%;
}

body.home .imagemCartasNovas{
    border-radius: 15px;
    display: flex;
    max-width: 90%;
    max-height: 100%;
}

body.home .imagemTextoCartas{
    display: flex!important;
    flex-direction: column!important;
    padding: 5px;
    max-height: 100%;
}

.container{
    padding-left: 12px;
    padding-right: 12px;
}

.p-2d-flex{
    padding: 0.5rem;
    display: flex;
    width: 50%;
}

h5 {
    font-size: 1.55vw;
    margin-top:1rem;
    color: #FFF;
    margin-bottom: 0px;
    font-family: 'MorandiRegular', sans-serif;
    font-weight: lighter;
}

.containerLinks{
    margin-top: 8%;
}

.colunaLinks{
    display: flex;
    flex-direction: column;
}

body.home .botoesNovos{
    display: flex;
    background: #423745;
    height: 3.5vh;
    border-radius: 5px;
    justify-content: space-between;
    margin-top: 2%;
}

body.home .textoLinks{
    text-align: left;
    color: #ffffff;
    display:flex;
    flex-direction: column;
    margin-left: 6%;
    justify-content: center;
}

h6{
    margin: 0px;
    font-weight: lighter;
    font-family: 'MorandiRegular', sans-serif;
    font-size: 0.8vw;
}

a:link {
    color: #ffffff; /* Cor do texto para links não visitados */
    text-decoration: none;
}

.headSite{
    background-color:#2d282f;
    height: 5.556vh;
    max-width: 100%;
}

.containerHeader{
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.logoStyle{
    max-width: 40%;

}
